:root {
  --main-color: #0a1940;
  --secondary-color: #64f7ff;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: var(--main-color);
  /* background-image: url('../public/images/forest.jpg');
  background-size: 100%; /* or set to a specific size, such as 100% */
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--main-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #233973;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4c639c;
}

.App {

  margin: 0;
}

.navbar_parent{
  background-color: var(--main-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: right;
  z-index: 9999; 
}

.navbar ul{
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.navbar ul :hover{
  color: var(--secondary-color);
}

.navbar li{
  padding-left: 30px;
  list-style: none;
}

.navbar li a {
  text-decoration: none;
  color: white;
}

.heading1 {
  margin-top: 20%;
  font-weight: bold;
  font-size: 18pt;
}
.heading2 {
  font-weight: bold;
  font-size: 50pt;
}
.heading3 {
  font-weight: bold;
  font-size: 25pt;
  padding-bottom: 20%;
}

.heading {
  font-weight: bold;
  font-size: 25pt;
}

.sub_heading {
  font-weight: bold;
  font-size: 18pt;
}

.first_section_parent {
  margin: 8% auto;
  color: white;
  background-color: var(--main-color);
  outline-style: solid;
  outline-color: white;
  width: 70%;
  padding: 40px;
}

.section_parent {
  margin: 10% auto;
  color: white;
  background-color: var(--main-color);
  outline-style: solid;
  outline-color: white;
  width: 70%;
  padding: 40px;
}

.section_parent div {
  margin-bottom: 20px;
}

.spacer {
  height: 550px;
}
.home {
  color: white;
}

.qualifications {
  color: white;
}

#projects {
  outline-style: none;
}

.project_parent {
}

.project_parent2 {
  display: absolute;
  margin-top: 700px;
}

.project_element1 {
  position: absolute;
  align-items: center;
  padding: 5%;
  outline-style: solid;
  outline-color: white;
  background-color: var(--main-color);
  width: 25%;
}
.project_element2 {
  position: absolute;
  padding: 5%;
  outline-style: solid;
  outline-color: white;
  background-color: var(--main-color);
  width: 25%;
  margin-left: 40%;
}
.project_element3 {
  position: absolute;
  padding: 5%;
  outline-style: solid;
  outline-color: white;
  background-color: var(--main-color);
  width: 25%;
}
.project_element4 {
  position: absolute;
  padding: 5%;
  outline-style: solid;
  outline-color: white;
  background-color: var(--main-color);
  width: 25%;
  margin-left: 40%;
}

.project_element1 img {
  width: 100%;
}
.project_element2 img {
  width: 100%;
}
.project_element3 img {
  width: 100%;
}
.project_element4 img {
  width: 100%;
}

.project_heading {
  font-weight: bold;
  font-size: 18pt;
}

.project_element_text {
  width: 100%;
  font-size: 14pt;
  padding-left: 2%;
}

#projects {
  height: 600px;
}

.about_parent {
  display: flex;
  width: 90%;
}

.about_text{
  padding-left: 2%;
}

.about_image{

}

.about_image img {
  width: 100%;  
}

.resume_parent {
  display: flex;
  justify-content: space-around;
}

.resume_list {
  padding: 3%;
  width: 40%;
  align-items: center;
}

.section_parent a {
  font-size: 18pt;
  color: inherit;
}