body, html {
  margin: 0;
  padding: 0;
  background-color: #0a1940;
}

.App {
  background-color: #0a1940;
  margin: 0;
}

.navbar_parent{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: right;
}

.navbar ul{
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.navbar li{
  padding-left: 30px;
  list-style: none;
}

.navbar li a {
  text-decoration: none;
  color: white;
}

.heading {
  font-weight: bold;
}

.section_parent {
  margin: 0 auto;
  color: white;
  width: 70%;
  padding: 40px;
}

.section_parent div {
  margin-bottom: 20px;
}

.spacer {
  height: 500px;
}
.home {
  color: white;
}

.qualifications {
  color: white;
}

.project_element {
  height: 20%;
  width: 20%;
  background-color: white;
}